scratch.py
.ipynb_checkpoints/GoodReads_Analysis-checkpoint.ipynb
.ipynb_checkpoints/GoodReads_Parser-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/ReadingHistory-checkpoint.csv
ReadingHistory.csv
